# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Logs
logs/
*.log

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
coverage/
*.local
*.tmp
.sass-cache/

# Build
dist/
build/

# temp
tmp/
*.swp

# Ignore npm global config
.npmrc
